[user]
	name = James Wright
	email = jamesw@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = /usr/local/bin/vim
    trustctime = false
    pager = delta --highlight-removed --keep-plus-minus-markers --hunk-style=plain --plus-color="#21551c"
[interactive]
    diffFilter = delta --color-only
[color]
	ui = true
[alias]
	alias = config --get-regexp ^alias\\.
    ecfg = config -e --global
	s = status -sb
	co = checkout
	ci = commit
    hist = log --graph --pretty='format:%C(red)%d%C(reset)%C(yellow)%h%C(reset) %ar %C(green)%aN%C(reset) %s'
	staged = diff --staged
	find-deleted-file = rev-list -n 1 HEAD -- *
	nevermind = !git reset --hard HEAD && git clean -d -f
	unstage = reset -q HEAD --
	discard = checkout --
	resetmains = !git fetch origin master:master -f
	details = show --stat
    ugh = !git add . && git commit --amend --no-edit && git push --force-with-lease
	# lastsha - windows version 
	# lastsha = !git rev-parse HEAD | clip
	# lastsha - osx version
	lastsha = !git rev-parse HEAD | pbcopy
    rootdir = !git rev-parse --show-toplevel
    # THIS COMMAND WILL FUCK UP YOUR DAY IF YOU HAVE ANY CURRENT CHANGES
    split = !git reset HEAD~ | git rebase -i 
    breakout = !"d() { git reset $1~; }; d"
	rmbranches = "!f() { git branch | grep $1 | xargs git branch -D; }; f"
    delete-remote = "!git push origin --delete "
    prune = "!git branch --merged master | grep -v '*' | xargs -n 1 git branch -d"
    vim = !vim `git status --porcelain | sed -ne 's/^ M //p'`
    authors = "!git log --pretty=format:%aN | sort | uniq -c | sort -rn"
    fnd = grep --name-only --full-name
[diff]
    tool = vimdiff
[difftool]
	prompt = false
[merge]
    tool = vimdiff
    conflictstyle = diff3
    ff = no
[mergetool]
	prompt = false
[push]
	default = simple
[include]
	path = .local.gitconfig
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pager]
	branch = false
	alias = false
[rerere]
	enabled = true
