[user]
	name = Keith Bertelsen
	email = keith@keithbertelsen.com
[core]
	excludesfile = ~/.gitignore
[color]
	ui = true
[alias]
	s = status
	st = status
	sta = status
	stat = status
	statu = status
	co = checkout
	ci = commit
	graph = log --oneline --color --graph --decorate
[push]
	default = matching
[include]
	path = .local.gitconfig
